:host {
  border-radius: 30px;
  background: #f6fbf9;
  text-align: center;
  min-width: 400px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: Billabong;
  font-size: 64px;
}

.form {
  width: 60%;
}

input {
  height: 40px;
  border-radius: 6px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  padding: 0 10px;
  width: 100%;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}

.row {
  margin-bottom: 14px;
}

.error-message {
  font-size: 14px;
  position: absolute;
  color: #fb7b7b;
}

.submit-button {
  background: #84c7ae;
  color: white;
  border-radius: 6px;
  padding: 6px;
  font-weight: bold;
  margin-top: 34px;
  cursor: pointer;
}

.hint {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);

  span {
    text-decoration: underline;
    cursor: pointer;
  }
}
