:host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.upload-anchor {
  cursor: pointer;
}

.anchor {
  display: flex;
  align-items: center;
  margin-right: 18px;
  color: #878787;
}
